header {
  position: relative;
  z-index: 999;
  width: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  top: 0;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 990px) {
    header {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      padding: 0;
      position: fixed; } }
  @media (max-width: 990px) {
    header .btn-red {
      display: none; } }
  header .container {
    background: #fff;
    padding: 10px; }
  header nav {
    right: -7px;
    position: relative; }
    @media (max-width: 990px) {
      header nav {
        position: fixed;
        width: 100vw;
        z-index: 99;
        top: 0;
        height: 100vh;
        background: #fff;
        left: 0;
        right: 0;
        -webkit-transition: .35s;
        -o-transition: .35s;
        transition: .35s;
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    header nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-right: 20px; }
      @media (max-width: 990px) {
        header nav ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin: 0;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          text-align: center; } }
      header nav ul li {
        padding: 5px 15px;
        border-right: 1px solid #d3d3d3; }
        @media (max-width: 990px) {
          header nav ul li {
            margin: 15px 0;
            border: none; } }
        header nav ul li a {
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          color: #2d2d2d;
          position: relative;
          font: 500 .95rem 'Work Sans', sans-serif; }
          header nav ul li a:hover {
            color: #3693d6; }
          @media (max-width: 990px) {
            header nav ul li a {
              color: #000;
              padding: 0;
              font-size: 1.25rem;
              font-weight: bold; } }
      header nav ul li:last-child {
        border: none;
        padding-right: 0; }

.fixed-header {
  position: fixed; }

.close {
  display: none; }
  @media (max-width: 990px) {
    .close {
      position: absolute;
      height: 30px;
      top: 20px;
      display: block;
      right: 20px; } }

.mob-menu-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: .95; }

@media (max-width: 990px) {
  nav ul li {
    width: 100%; } }

.header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 990px) {
    .header-container {
      padding: 0 10px; } }

.logo-white {
  height: 40px; }

.fixed-header {
  background: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  padding: 0;
  position: fixed;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
          box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75); }
  @media (max-width: 990px) {
    .fixed-header {
      padding: 0; } }
  .fixed-header nav ul li a {
    color: #222222; }

.menu-btn {
  display: none;
  height: 30px; }
  @media (max-width: 990px) {
    .menu-btn {
      display: block; } }

.white-popup-block {
  position: relative;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  background: #fff;
  border-right: 5px;
  text-align: center;
  min-height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header-top .container {
  border-top: 7px solid #2e81ca; }

.header-top-wrap {
  padding: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media (max-width: 990px) {
    .header-top-wrap {
      display: none; } }
  .header-top-wrap .header-box-sm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 15px; }
    .header-top-wrap .header-box-sm i {
      color: #2e81ca;
      font-size: .8rem; }
    .header-top-wrap .header-box-sm p {
      padding-left: 10px;
      color: #3f3f3f;
      font: 400 .8rem 'Work Sans', sans-serif; }

.main-section {
  height: 600px; }
  @media (max-width: 990px) {
    .main-section {
      height: 100%;
      background: transparent; } }
  .main-section .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0 45px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: url(../img/main-section/main-bg.jpg) no-repeat center center;
    background-size: cover; }
    @media (max-width: 990px) {
      .main-section .container {
        padding: 0;
        background: transparent; } }

.main-section-box {
  max-width: 700px;
  display: grid;
  grid-template-columns: 2fr 3fr; }
  @media (max-width: 990px) {
    .main-section-box {
      grid-template-columns: 1fr;
      max-width: 100%; } }
  .main-section-box .main-box-title {
    background: #fce042;
    padding: 30px; }
    @media (max-width: 990px) {
      .main-section-box .main-box-title {
        padding: 20px;
        height: 125px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    .main-section-box .main-box-title h1 {
      position: relative;
      font: 600 1.75rem 'Work Sans', sans-serif; }
      @media (max-width: 990px) {
        .main-section-box .main-box-title h1 {
          font-size: 1.6rem; } }
      .main-section-box .main-box-title h1::before {
        content: '';
        height: 4px;
        width: 40px;
        background: #fff;
        display: block;
        position: absolute;
        bottom: -15px; }
  .main-section-box .main-box-info {
    background: #fff;
    padding: 30px; }
    @media (max-width: 990px) {
      .main-section-box .main-box-info {
        padding: 20px; } }
    .main-section-box .main-box-info p {
      color: #2d2d2d;
      font: 400 1rem/28px 'Work Sans', sans-serif; }

.main-section-2 {
  height: 400px; }
  @media (max-width: 990px) {
    .main-section-2 {
      height: 100%; } }
  .main-section-2 .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0 40px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: url(../img/main-section/main-bg.jpg) no-repeat center center;
    background-size: cover; }
    @media (max-width: 990px) {
      .main-section-2 .container {
        padding: 0;
        background: transparent; } }
  .main-section-2 .main-box-title {
    height: 100px; }
    @media (max-width: 990px) {
      .main-section-2 .main-box-title {
        height: 80px;
        width: 100%; } }
  @media (max-width: 990px) {
    .main-section-2 .main-section-wrap {
      width: 100%; } }
  .main-section-2 .main-section-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.main-section-3 {
  height: 400px; }
  @media (max-width: 990px) {
    .main-section-3 {
      height: 100%; } }
  .main-section-3 .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0 40px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: url(../img/about/about-bg.jpg) no-repeat center center;
    background-size: cover; }
    @media (max-width: 990px) {
      .main-section-3 .container {
        padding: 0;
        background: transparent; } }
  .main-section-3 .main-box-title {
    background: #1bb06c;
    height: 100px; }
    @media (max-width: 990px) {
      .main-section-3 .main-box-title {
        height: 80px;
        width: 100%; } }
    .main-section-3 .main-box-title h1 {
      color: #fff; }
  @media (max-width: 990px) {
    .main-section-3 .main-section-wrap {
      width: 100%; } }
  .main-section-3 .main-section-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.bredcrumbs {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4; }

.bredcrumbs-container {
  padding: 25px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 576px) {
    .bredcrumbs-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .bredcrumbs-container .bredcrumbs-title {
    font: 600 1.9rem 'Work Sans', sans-serif;
    color: #292929;
    margin: 0; }
    @media (max-width: 576px) {
      .bredcrumbs-container .bredcrumbs-title {
        margin-bottom: 10px; } }
  .bredcrumbs-container .bredcrumbs-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .bredcrumbs-container .bredcrumbs-box a {
      font: 500 .9rem 'Work Sans', sans-serif;
      color: #8f8f8f;
      padding-right: 5px; }
      .bredcrumbs-container .bredcrumbs-box a::after {
        content: '/';
        right: -3px;
        position: relative; }
    .bredcrumbs-container .bredcrumbs-box span {
      font: 500 .9rem 'Work Sans', sans-serif;
      color: #454545; }

.map iframe {
  width: 100%;
  height: 450px; }
  @media (max-width: 990px) {
    .map iframe {
      height: 300px; } }

.contact-wrap {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 25px; }
  @media (max-width: 990px) {
    .contact-wrap {
      grid-template-columns: 1fr; } }

.contact-feedback .contact-feedback-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px; }

.contact-feedback i {
  height: 5px;
  width: 5px;
  color: #454545;
  opacity: .9;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 1px; }

.contact-feedback p {
  font: normal .95rem 'Work Sans', sans-serif;
  color: #454545;
  opacity: .9; }

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px; }
  @media (max-width: 990px) {
    .contact-form {
      grid-template-columns: 1fr; } }
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 12px 8px;
    background: #fcfcfc;
    border: 1px solid silver;
    font: 400 .87rem 'Work Sans', sans-serif; }
  .contact-form button {
    background: #2e81ca;
    padding: 10px 15px;
    width: 180px;
    color: #fff;
    font: 600 1rem 'Work Sans', sans-serif;
    border: 1px solid #2e81ca; }
  .contact-form textarea {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 150px; }
    @media (max-width: 990px) {
      .contact-form textarea {
        grid-column-start: auto;
        grid-column-end: auto; } }

.map-2 img {
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto; }

.technology-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px; }
  @media (max-width: 768px) {
    .technology-container {
      grid-template-columns: 1fr; } }

.technology-box {
  border: 1px solid #cecece;
  cursor: pointer; }
  .technology-box:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .technology-box .technology-img-box {
    height: 250px;
    overflow: hidden; }
    .technology-box .technology-img-box img {
      max-width: 100%;
      height: auto;
      -o-object-fit: cover;
         object-fit: cover;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
  .technology-box .technology-title {
    padding: 10px;
    padding-bottom: 7px;
    font: 500 1.3rem 'Work Sans', sans-serif; }
    @media (max-width: 990px) {
      .technology-box .technology-title {
        font-size: 1.1rem; } }
  .technology-box .text-simple {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 5px; }

.item-tech img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover; }

.item-tech .item-tech-container .main-img {
  width: 100%;
  margin-bottom: 30px; }

.item-tech .item-tech-sm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 15px; }
  @media (max-width: 990px) {
    .item-tech .item-tech-sm {
      grid-template-columns: 1fr; } }

.acc-box {
  margin-bottom: 1px;
  position: relative; }

.acc-active {
  border: 1px solid #cecece; }
  .acc-active::before {
    content: '';
    height: 1px;
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    background: #1ab06b;
    top: 0; }

.acc-head {
  padding: 10px 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer; }
  @media (max-width: 576px) {
    .acc-head {
      padding: 10px; } }
  .acc-head .plus::before {
    content: '+';
    font: 600 1rem 'Work Sans', sans-serif;
    color: #292929; }
  .acc-head .minus::before {
    content: '-';
    font: 600 1rem 'Work Sans', sans-serif;
    color: #292929; }
  .acc-head p {
    font: 600 1rem 'Work Sans', sans-serif;
    color: #292929; }

.acc-body {
  padding: 10px 25px;
  margin-bottom: 5px;
  display: none; }
  @media (max-width: 576px) {
    .acc-body {
      padding: 10px; } }

.statistics-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px; }
  @media (max-width: 990px) {
    .statistics-container {
      grid-template-columns: 1fr;
      grid-gap: 30px; } }

.statistics-box-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px; }
  .statistics-box-info .statistics-info {
    color: #292929;
    font: 500 .87rem 'Work Sans', sans-serif; }
  .statistics-box-info .statistics-proc {
    font: 500 .9rem 'Work Sans', sans-serif; }

progress {
  background: red;
  height: 6px;
  width: 100%;
  margin-bottom: 15px; }

progress::-webkit-progress-bar {
  background: #ececec; }

.proges-1::-webkit-progress-value {
  background: #138d13; }

.proges-2::-webkit-progress-value {
  background: #d6da0f; }

.proges-3::-webkit-progress-value {
  background: #c7110b; }

.proges-4::-webkit-progress-value {
  background: #1e04af; }

progress:last-child {
  margin: 0; }

.statistics-donate {
  background: url(../img/services/donate-bg.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px; }
  @media (max-width: 990px) {
    .statistics-donate {
      padding: 15px; } }
  .statistics-donate .donate-title {
    font: 600 3rem 'Work Sans', sans-serif;
    color: #fce042;
    margin-bottom: -10px; }
    @media (max-width: 990px) {
      .statistics-donate .donate-title {
        font-size: 2rem;
        margin-bottom: 5px; } }
  .statistics-donate .donate-text {
    color: #fff;
    margin-bottom: 20px;
    font: 600 1.125rem/28px 'Work Sans', sans-serif; }
    @media (max-width: 990px) {
      .statistics-donate .donate-text {
        font-size: 1rem; } }
  .statistics-donate a {
    color: #fff;
    font: 600 1.125rem/28px 'Work Sans', sans-serif; }
    @media (max-width: 990px) {
      .statistics-donate a {
        font-size: 1rem; } }

.statistics-wrap-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px; }
  @media (max-width: 990px) {
    .statistics-wrap-2 {
      grid-template-columns: 1fr;
      grid-gap: 30px; } }

.investor-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 25px;
  margin-bottom: 30px; }
  @media (max-width: 990px) {
    .investor-box {
      grid-template-columns: 1fr;
      grid-gap: 20px; } }
  .investor-box img {
    height: auto;
    max-width: 100%; }
  .investor-box .investor-title {
    margin-bottom: 10px;
    font: 600 1.3rem 'Work Sans', sans-serif; }
    @media (max-width: 990px) {
      .investor-box .investor-title {
        font-size: 1.2rem; } }

.great-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px; }
  @media (max-width: 990px) {
    .great-wrap {
      grid-template-columns: 1fr; } }
  .great-wrap .great-title {
    margin-bottom: 15px;
    font: 600 1.4rem 'Work Sans', sans-serif; }
    @media (max-width: 990px) {
      .great-wrap .great-title {
        font-size: 1.1rem; } }
  .great-wrap .great-text {
    font: 400 1rem/24px 'Work Sans', sans-serif; }
  .great-wrap img {
    max-width: 100%;
    height: auto; }

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px; }
  @media (max-width: 990px) {
    .services-container {
      grid-template-columns: 1fr; } }
  .services-container .services-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .services-container .services-title {
    margin-bottom: 10px;
    font: 600 1.125rem 'Work Sans', sans-serif; }
    @media (max-width: 990px) {
      .services-container .services-title {
        font-size: 1rem; } }
  .services-container img {
    height: 60px;
    width: 60px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 20px; }

.history-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px; }
  @media (max-width: 990px) {
    .history-container {
      grid-template-columns: 1fr;
      grid-gap: 30px; } }

.history-box-info .history-title {
  margin-bottom: 15px;
  font: 600 1.4rem 'Work Sans', sans-serif; }
  @media (max-width: 990px) {
    .history-box-info .history-title {
      font-size: 1.1rem; } }

.history-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; }
  @media (max-width: 990px) {
    .history-wrap {
      grid-template-columns: 1fr; } }
  .history-wrap .history-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .history-wrap img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 50px;
    width: 50px;
    margin-right: 20px; }
  .history-wrap .history-sub-title {
    margin-bottom: 10px;
    font: 600 1.4rem 'Work Sans', sans-serif; }
    @media (max-width: 990px) {
      .history-wrap .history-sub-title {
        font-size: 1.1rem; } }

.project .project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px; }
  @media (max-width: 990px) {
    .project .project-container {
      grid-template-columns: 1fr; } }

.project-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .project-box:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .project-box .img-box {
    height: 300px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px; }
  .project-box img {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    height: 100%;
    width: 100%;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .project-box p {
    color: #333;
    font: 600 1.2rem 'Work Sans', sans-serif;
    display: block;
    width: 100%;
    margin-bottom: 5px; }
  .project-box span {
    font: 500 .9rem 'Work Sans', sans-serif;
    color: #2e81ca;
    width: 100%;
    display: block;
    padding-bottom: 20px;
    border-bottom: 1px solid #cecece; }

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px; }
  @media (max-width: 990px) {
    .about-container {
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px; } }
  @media (max-width: 576px) {
    .about-container {
      grid-template-columns: 1fr;
      grid-gap: 20px; } }

.about-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .about-box span {
    font: 600 2rem 'Work Sans', sans-serif;
    margin-bottom: 10px;
    color: #cecece;
    display: block; }
  .about-box .about-title {
    font: 500 1.6rem 'Work Sans', sans-serif;
    padding-bottom: 20px;
    margin-bottom: 25px;
    display: block;
    width: 100%;
    position: relative;
    color: #292929;
    border-bottom: 1px solid #cecece; }
    @media (max-width: 990px) {
      .about-box .about-title {
        font-size: 1.3rem;
        margin-bottom: 10px;
        padding-bottom: 10px; } }
    .about-box .about-title::before {
      content: '';
      height: 3px;
      width: 60px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #3693d6; }
  .about-box a {
    color: #454545;
    font: 500 .9rem 'Work Sans', sans-serif; }
    .about-box a:hover {
      color: #3693d6; }

footer {
  background: #f8f8f8; }

.footer-container {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 40px; }
  @media (max-width: 1024px) {
    .footer-container {
      grid-template-columns: 1fr 1fr 1fr; } }
  @media (max-width: 990px) {
    .footer-container {
      grid-template-columns: 1fr;
      grid-gap: 20px;
      padding: 20px 0; } }

.footer-bottom p {
  padding: 15px 0;
  border-top: 1px solid #e6e6e6;
  color: #454545;
  font: 400 .87rem 'Work Sans', sans-serif; }

.footer-link {
  color: #454545;
  display: block;
  font: normal .95rem 'Work Sans', sans-serif;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin-bottom: 15px;
  opacity: .8; }
  @media (max-width: 990px) {
    .footer-link {
      font-size: .9rem;
      margin-bottom: 10px; } }
  .footer-link:hover {
    opacity: 1; }

.footer-title {
  color: #000;
  font: 600 1rem 'Work Sans', sans-serif;
  margin-bottom: 35px;
  position: relative;
  opacity: .7; }
  @media (max-width: 990px) {
    .footer-title {
      margin-bottom: 20px; } }

.partners-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px; }
  @media (max-width: 768px) {
    .partners-wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px; } }
  @media (max-width: 576px) {
    .partners-wrap {
      grid-template-columns: 1fr; } }
  .partners-wrap img {
    max-width: 100%;
    height: 40px; }
    @media (max-width: 768px) {
      .partners-wrap img {
        margin: 0 auto;
        display: block; } }

.footer-box-sm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .footer-box-sm i {
    position: absolute;
    color: #454545;
    display: block;
    top: 0;
    opacity: .9; }
  .footer-box-sm p {
    padding-left: 25px; }

.title-xl {
  font: 600 1.4rem 'Work Sans', sans-serif;
  color: #292929;
  position: relative;
  border-bottom: 1px solid #cecece;
  padding-bottom: 20px;
  margin-bottom: 25px; }
  .title-xl::before {
    content: '';
    height: 3px;
    width: 60px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background: #3693d6; }
  @media (max-width: 990px) {
    .title-xl {
      font-size: 1.5rem;
      margin-bottom: 30px; } }

.text-simple {
  color: #454545;
  font: 400 .9rem/22px 'Work Sans', sans-serif;
  margin-bottom: 15px; }
  @media (max-width: 990px) {
    .text-simple {
      font-size: .9rem; } }

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Work Sans', sans-serif; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0; }

.padding {
  padding: 0 45px; }
  @media (max-width: 990px) {
    .padding {
      padding: 0 20px; } }
  @media (max-width: 576px) {
    .padding {
      padding: 0 20px; } }

.margin {
  margin-bottom: 110px; }
  @media (max-width: 990px) {
    .margin {
      margin-bottom: 65px; } }

button,
input,
textarea,
a {
  outline: none; }

textarea {
  resize: none; }

main {
  min-height: -webkit-calc(100vh - 80px);
  min-height: calc(100vh - 80px); }

a {
  text-decoration: none;
  cursor: pointer; }

.slick-slide {
  outline: none; }

main {
  margin-top: 20px; }
  @media (max-width: 990px) {
    main {
      margin-top: 65px; } }
