.title-xl {
    font: 600 1.4rem 'Work Sans', sans-serif;
    color: #292929;
    position: relative;
    border-bottom: 1px solid #cecece;
    padding-bottom: 20px;
    margin-bottom: 25px;
    &::before {
        content: '';
        height: 3px;
        width: 60px;
        position: absolute;
        bottom: -1px;
        left: 0;
        background: #3693d6;
    }
    @media (max-width: 990px) {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
}

.text-simple {
    color: #454545;
    font: 400 .95rem/22px 'Work Sans', sans-serif;
    margin-bottom: 15px;
    @media (max-width: 990px) {
        font-size: .9rem;
    }
}