.bredcrumbs {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.bredcrumbs-container {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 576px) {
        flex-direction: column;
    }
    .bredcrumbs-title {
        font: 600 1.9rem 'Work Sans', sans-serif;
        color: #292929;
        margin: 0;
        @media (max-width: 576px) {
            margin-bottom: 10px;
        }
    }
    .bredcrumbs-box {
        display: flex;
        a {
            font: 500 .9rem 'Work Sans', sans-serif;
            color: #8f8f8f;
            padding-right: 5px;
            &::after {
                content: '/';
                right: -3px;
                position: relative;
            }
        }
        span {
            font: 500 .9rem 'Work Sans', sans-serif;
            color: #454545;
        }
    }
}