footer {
    background: #f8f8f8;
}

.footer-container {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 40px;
    @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 20px 0;
    }
}


.footer-bottom{
    p {
        padding: 15px 0;
        border-top: 1px solid #e6e6e6;
        color: #454545;
        font: 400 .87rem 'Work Sans', sans-serif;
    }
}

.footer-link {
    color: #454545;
    display: block;
    font: normal .95rem 'Work Sans', sans-serif;
    transition: .3s;
    margin-bottom: 15px;
    opacity: .8;
    @media (max-width: 990px) {
        font-size: .9rem;
        margin-bottom: 10px;
    }
    &:hover {
        opacity: 1;
    }
}


.footer-title {
    color: #000;
    font: 600 1rem 'Work Sans', sans-serif;
    margin-bottom: 35px;
    position: relative;
    opacity: .7;
    @media (max-width: 990px) {
        margin-bottom: 20px;
    }
}

.partners-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
    @media (max-width: 576px) {
        grid-template-columns: 1fr;
    }
    img {
        max-width: 100%;
        height: 40px;
        @media (max-width: 768px) {
            margin: 0 auto;
            display: block;
        }
    }
}

.footer-box-sm {
    display: flex;
    align-items: center;
    position: relative;
    i {
        position: absolute;
        color: #454545;
        display: block;
        top: 0;
        opacity: .9;
    }
    p {
        padding-left: 25px;
    }
}