footer {
    background: #f8f8f8;
}

.footer-container {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 40px;
    @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 20px 0;
    }
}


.footer-bottom{
    p {
        padding: 15px 0;
        border-top: 1px solid #e6e6e6;
        color: #454545;
        font: 400 .87rem 'Work Sans', sans-serif;
    }
}

.footer-link {
    color: #454545;
    display: block;
    font: normal .95rem 'Work Sans', sans-serif;
    transition: .3s;
    margin-bottom: 15px;
    opacity: .8;
    @media (max-width: 990px) {
        font-size: .9rem;
        margin-bottom: 10px;
    }
    &:hover {
        opacity: 1;
    }
}


.footer-title {
    color: #000;
    font: 600 1rem 'Work Sans', sans-serif;
    margin-bottom: 25px;
    position: relative;
    opacity: .8;
    @media (max-width: 990px) {
        font-size: 1.1rem;
        margin-bottom: 15px;
    }
}