.history-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}

.history-box-info {
    .history-title {
        margin-bottom: 15px;
        font: 600 1.4rem 'Work Sans', sans-serif;
        @media (max-width: 990px) {
            font-size: 1.1rem;
        }
    }
}

.history-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
    }
    .history-block {
        display: flex;
    }
    img {
        object-fit: contain;
        height: 50px;
        width: 50px;
        margin-right: 20px;
    }
    .history-sub-title {
        margin-bottom: 10px;
        font: 600 1.4rem 'Work Sans', sans-serif;
        @media (max-width: 990px) {
            font-size: 1.1rem;
        }
    }
}