.project {
    .slick-dots {
        bottom: -45px;
    }
    .slick-dots li button:before {
        font-size: 40px;
    }
    .slick-dots li.slick-active button:before {
        opacity: 1;
    }
}

.project-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
    .img-box {
        height: 280px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
    }
    img {
        transition: .3s;
        height: 100%;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }
    p {
        color: #333;
        font: 600 1.2rem 'Work Sans', sans-serif;
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
    span {
        font: 500 .9rem 'Work Sans', sans-serif;
        color: #2e81ca;
        width: 100%;
        display: block;
        padding-bottom: 20px;
        border-bottom: 1px solid #cecece;
    }
}