.project {
    .project-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        @media (max-width: 990px){
            grid-template-columns: 1fr;
        }
    }
}

.project-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
    .img-box {
        height: 300px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
    }
    img {
        transition: .3s;
        height: 100%;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }
    p {
        color: #333;
        font: 600 1.05rem 'Work Sans', sans-serif;
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
    span {
        font: 500 .9rem 'Work Sans', sans-serif;
        color: #2e81ca;
        width: 100%;
        display: block;
        padding-bottom: 20px;
        border-bottom: 1px solid #cecece;
    }
}